<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
               <div class="text-center">
                <h1 class="text-alin">Sing Up</h1>
                <h6>Register your self !!</h6>

               </div> 
               <form>
                <form>
                    <div class="mb-6">
                        <label for="exampleInputPassword1" class="form-label">Full Name</label><br>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                      </div><br>
                      <div class="mb-6">
                        <label for="exampleInputPassword1" class="form-label">Mobile Number</label><br>
                        <input type="number" class="form-control" id="exampleInputPassword1">
                      </div><br>
                    <div class="mb-6">
                      <label for="exampleInputEmail1" class="form-label">Email address</label><br>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div><br>
                    <div class="mb-6">
                      <label for="exampleInputPassword1" class="form-label">Password</label><br>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div><br>
                   
                    <button type="submit" class="btn btn-primary">sing up</button>
                  </form>
               
               </form><br>
               <a routerLink="/login">Already register? Click to Login !!</a>
            </div>
        </div>
    </div>
</div>

